
@{
    ViewBag.Title = "Index";
}

<h2>String Fixer</h2>

@using (Html.BeginForm("FixString","String", FormMethod.Post))
{
    
    <input  type="text" name="InputText" id="InputText" class="form-control"/>
    <input type="submit" value="Fix This String!" class=""/>
}

<h3>Ouput: <span style="background-color:aqua; color:orangered">@ViewBag.Result</span> </h3>

